.header {
    background: coral;
    width: 100vh;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.red {
    background: red;
}

.blue {
    background: blue;
}

.green {
    background: green;
}